.statusbar-container {
    display: flex;
    background: #217346;
    height: 100%;
    margin: -1px 0 -1px 0;
}

.status-title {
    margin: 2px 0 0 12px;
    color: white;
    font-size: 11px
}

.status-value {
    margin: 2px 12px 0 0;
    color: white;
    font-size: 11px
}