.select {
    height: 28px;
    width: 102px;
}

.board-wraptext-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -3456px;
    height: 16px;
    width: 16px;
}

.hover-effect:hover {
    background: #ddd;
}

.hover-effect {
    padding: 5px 1px 5px 1px;
}