<div class="toolbar-container">
    <clipboard-board></clipboard-board>
    <font-board></font-board>
    <alignment-board></alignment-board>
    <div class="alignmentboard-container ">
        alignmentboard is here!!!
    </div>
    <div class="numberboard-container ">
        numberboard is here!!!
    </div>
    <div class="celltypeboard-container ">
        celltypeboard is here!!!
    </div>
    <div class="styleboard-container ">
        styleboard is here!!!
    </div>
    <div class="cellboard-container ">
        cellboard is here!!!
    </div>
    <div class="editboard-container ">
        editboard is here!!!
    </div>
</div>