<div class="toolbar-container">
    <clipboard-board></clipboard-board>
    <font-board></font-board>
    <alignment-board></alignment-board>
    <number-board></number-board>
    <div class="celltypeboard-container ">
        celltypeboard is here!!!
    </div>
    <div class="styleboard-container ">
        styleboard is here!!!
    </div>
    <div class="cellboard-container ">
        cellboard is here!!!
    </div>
    <div class="editboard-container ">
        editboard is here!!!
    </div>
</div>