.fcsheet-container {
    height: 100%;
    width: 100%;
}

.fcsheet-header-top {
    border-bottom: 1px solid #d3d3d3;
}

.fcsheet-header-container {
    height: 143px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.fcsheet-header-btn {
    color: white;
    background-color: #217346;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 20px 6px 20px;
    margin: 0 2px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.fcsheet-header-tabs {
    display: flex;
    flex-wrap: nowrap;
}

.fcsheet-header-title {
    display: inline-block;
    min-width: 50px;
    line-height: 28px;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.fcsheet-toolbar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.fcsheet-content-container {}

.fcsheet-footer-container {}

.active {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
}