<div class="clipboard-container">
    <div class="clipboard-content-container">
        <div class="clipboard-lcontent-container">
            <button class="clipboard-paste-btn" role="button" (click)="event($event)">
                <span class="clipboard-paste-image"></span>
                <span class="btn-text">
                    粘贴
                    <span class="cunstom-triangle2"></span>
                </span>
            </button>
        </div>
        <div class="clipboard-rcontent-container">
            <div class="clipboard-btn-container">
                <button class="clipboard-default-btn" role="button" (click)="event($event)">
                    <span class=" clipboard-cut-image "></span>
                </button>
            </div>
            <div class="clipboard-btn-container ">
                <button class="clipboard-default-btn " role="button " (click)="event($event)">
                    <span class="clipboard-copy-image "></span>
                </button>
            </div>
        </div>
    </div>
    <div class="board-bottom-title "> 剪贴板 </div>
</div>