<div class="board-container">
    <div class="board-content-rcontainer">
        <div class="board-lcontent-container">
            <button class="board-btitle-btn" role="button" (click)="event($event)">
                <span class="board-paste-image"></span>
                <span class="btn-text">
                    粘贴
                    <span class="custom-triangle2"></span>
                </span>
            </button>
        </div>
        <div class="board-rcontent-container">
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class=" board-cut-image "></span>
                </button>
            </div>
            <div class="board-btn-container ">
                <button class="board-default-btn " role="button " (click)="event($event)">
                    <span class="board-copy-image "></span>
                </button>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="board-bottom-title "> 剪贴板 </div>
    </div>
</div>