.clipboard-container {
    height: 106px;
    background: white;
    border-right: 1px solid #b2b7bd;
    padding: 0.2em;
    font-weight: normal;
    color: #555;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
}

.clipboard-content-container {
    display: flex;
    height: 85px;
    padding: 0.2em 0.2em 0;
    overflow: hidden;
}

.board-bottom-title {
    font-size: 12px;
    position: relative;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    margin-top: -1px;
    color: #333;
    border-width: 1px 0 0;
}

.clipboard-btn-container {
    background-position: -16px -2304px;
}

.clipboard-lcontent-container {
    width: 52px;
}

.clipboard-rcontent-container {
    display: flex;
    flex-direction: column;
}

.clipboard-paste-btn {
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover {
        background: #ddd;
    }
}

.btn-text {
    margin: 2px 0 0 13px;
}

.cunstom-triangle2 {
    background-image: url(../../../../assets/image/icons.png);
    display: block;
    width: 26px;
    height: 10px;
    background-position: -26px -3680px;
}

.clipboard-paste-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: -16px -2304px;
    height: 32px;
    width: 32px;
    margin-left: 10px;
}

.clipboard-default-btn {
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 4px 0;
    width: 2.5em;
    height: 2em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: #ddd;
    }
}

.clipboard-cut-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -768px;
    height: 16px;
    width: 16px;
}

.clipboard-copy-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -752px;
    height: 16px;
    width: 16px;
}