.board-addfontsize-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -1472px;
    height: 16px;
    width: 16px;
}

.board-decfontsize-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -2736px;
    height: 16px;
    width: 16px;
}

.board-bold-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -400px;
    height: 16px;
    width: 16px;
}

.board-italic-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -1712px;
    height: 16px;
    width: 16px;
}

.board-underline-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -3328px;
    height: 16px;
    width: 16px;
}

.board-border-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -416px;
    height: 16px;
    width: 16px;
}

.board-backcolor-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -1008px;
    height: 16px;
    width: 16px;
}

.board-fontcolor-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -1168px;
    height: 16px;
    width: 16px;
}

.font-select {
    height: 28px;
    width: 102px;
}

.fontsize-select {
    height: 28px;
    width: 45px;
}
