.board-topalign-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -112px;
    height: 16px;
    width: 16px;
}

.board-middlealign-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -80px;
    height: 16px;
    width: 16px;
}

.board-bottomalign-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -32px;
    height: 16px;
    width: 16px;
}

.board-leftalign-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -64px;
    height: 16px;
    width: 16px;
}

.board-centeralign-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -48px;
    height: 16px;
    width: 16px;
}

.board-rightalign-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -96px;
    height: 16px;
    width: 16px;
}

.board-increaseindent-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -1536px;
    height: 16px;
    width: 16px;
}

.board-decreaseindent-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -816px;
    height: 16px;
    width: 16px;
}

.board-wraptext-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -3456px;
    height: 16px;
    width: 16px;
}

.board-mergecenter-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -1840px;
    height: 16px;
    width: 16px;
}

.hover-effect:hover {
    background: #ddd;
}

.hover-effect {
    padding: 5px 1px 5px 1px;
}