<div class="board-container">
    <div class="board-content-ccontainer">
        <div class="board-tcontent-container">
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-topalign-image"></span>
                </button>
            </div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-middlealign-image"></span>
                </button>
            </div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-bottomalign-image"></span>
                </button>
            </div>
            <div class="separator"></div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-increaseindent-image"></span>
                </button>
            </div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-wraptext-image"></span>
                    <span class="board-btnsuffix-title">自动换行</span>
                </button>
            </div>
        </div>
        <div class="board-bcontent-container">
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-leftalign-image"></span>
                </button>
            </div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-centeralign-image"></span>
                </button>
            </div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-rightalign-image"></span>
                </button>
            </div>
            <div class="separator"></div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-decreaseindent-image"></span>
                </button>
            </div>
            <div class="board-btn-container">
                <button class="board-default-btn" role="button" (click)="event($event)">
                    <span class="board-mergecenter-image"></span>
                    <span class="board-btnsuffix-title">合并后居中</span>
                </button>
                <div class="hover-effect" (click)="event($event)">
                    <span class="custom-triangle2"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="board-bottom-title"> 对齐方式 </div>
        <div class="board-btn-container">
            <button class="board-default-btn" role="button" (click)="event($event)">
                <span class="board-corner-image"></span>
            </button>
        </div>
    </div>
</div>