/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: "Segoe UI", Helvetica, Verdana, sans-serif;
    font-size: 12px;
}

* {
    font-size: 12px;
}

body {
    margin: 0;
    overflow: hidden;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
html,
body {
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun, STXihei, "华文细黑", sans-serif;
}

.board-corner-image {
    background-image: url(../src/assets/image/icons.png);
    background-position: 0px -3616px;
    height: 16px;
    width: 16px;
}

.custom-triangle2 {
    background-image: url(../src/assets/image/icons.png);
    display: block;
    width: 10px;
    height: 10px;
    background-position: -30px -3680px;
}

.toolbar-container {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
}

.board-container {
    height: 106px;
    background: white;
    border-right: 1px solid #b2b7bd;
    padding: 0.2em;
    font-weight: normal;
    color: #555;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
}

.board-content-rcontainer {
    display: flex;
    flex-direction: row;
    height: 105px;
    padding: 0.2em 0.2em 0;
    overflow: hidden;
}

.board-content-ccontainer {
    display: flex;
    height: 105px;
    padding: 0.2em 0.2em 0;
    overflow: hidden;
    flex-direction: column;
}

.board-bottom-title {
    flex: 1;
    line-height: 27px;
    text-align: center;
    white-space: nowrap;
}

.board-btn-container {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.board-tcontent-container {
    display: flex;
    height: 27px;
    flex-direction: row;
    align-items: center;
}

.board-bcontent-container {
    display: flex;
    flex-direction: row;
    height: 27px;
    justify-content: space-between;
    align-items: center;
}

.btn-text {
    margin: 2px 0 0 4px;
}

.board-default-btn {
    background: white;
    border: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: #ddd;
    }
}

.separator {
    width: 1px;
    border: none;
    border-left: 1px solid lightgray;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}

.bottom-container {
    display: flex;
    align-items: center;
}

.board-btitle-btn {
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 4px;
    cursor: pointer;
    &:hover {
        background: #ddd;
    }
}

.board-btnsuffix-title {
    margin: 0 0 0 4px;
}

button:active {
    border-style: none;
}

button:focus {
    outline: none;
}

button {
    padding: 5px;
}