
.board-paste-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: -16px -2304px;
    height: 32px;
    width: 32px;
}

.board-cut-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -768px;
    height: 16px;
    width: 16px;
}

.board-copy-image {
    background-image: url(../../../../assets/image/icons.png);
    background-position: 0px -752px;
    height: 16px;
    width: 16px;
}